body{
    background-color:gainsboro;
    height: 90%;
    width: 950px;
    margin: 0 auto;
}

h2{
font-family:Trebuchet MS;   
text-align: left;
}   

h4 {
font-family:sans-serif;
text-align: right;
padding-right: 30px;
} 

h3 {
text-align: left;
font-family:Trebuchet MS;

}

p{
    font-family: Trebuchet MS;
    font-size: 12px;
}

    
.wrapper{
    margin-left: -200px;
    width:1450px;
    position:absolute;
    
    

}
#right{
    position:relative;
    width:36%;
    background-color: white;
    float: right;
    margin:30px 410px 20px;
    margin-left: 150px;
    height:450px;
    padding:0px 5px 5px 8px;
    border-radius: 10px 100px 10px 100px;
    
}

#nav{
    width:14%;
    height:200px;
    float: left;
    background-color: white;
    margin:30px 0px 20px 260px;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    border-radius: 70px 5px 70px 5px;
}

#footer{
    text-align: right;
    padding-right: 80px;
    padding-top: 15px;
}
#grey{
    color: gray;
}
#lightGrey{
    color:gainsboro;
}
#right a{
    text-indent: 4px;
}
#link {
    padding: 20px 20px 20px 20px;
    margin: 50px 50px 50px 50px;
    height:400px;
}

a{
    font-family: Trebuchet MS;
    font-size: 13px;
    color:dimgray;
}